.edit-profile-container {
    display: flex;
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px var(--secondary-bg-color);
    border-radius: 10px;
    margin-top: 3em;
    color: var(--main-color);
}

.edit-profile-sidebar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
}


.edit-profile-sidebar h3 {
    margin: 15px 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar-menu li {
    padding: 10px;
    cursor: pointer;
    color: var(--second-color)
}

.sidebar-menu li.active {
    background-color: var(--secondary-bg-color);
    color: white;
    border-radius: 4px;
}
