.edit-profile-container {
    display: flex;
    padding: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px var(--secondary-bg-color);
    border-radius: 10px;
}

.edit-profile-sidebar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
}


.edit-profile-sidebar h3 {
    margin: 15px 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar-menu li {
    padding: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.2)
}

.sidebar-menu li.active {
    background-color: var(--secondary-bg-color);
    color: white;
    border-radius: 4px;
}

.edit-profile-form {
    flex: 1;
    padding: 20px 40px;
}

.edit-profile-form h2 {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-group textarea {
    resize: vertical;
    height: 80px;
    font-size: 1.5em;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn-update,
.btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.btn-update {
    background-color: var(--secondary-bg-color);
    color: white;
}

.btn-cancel {
    background-color: #ccc;
    color: #333;
}


.form-columns {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.form-left,
.form-right {
    flex: 1;
}

.form-left label,
.form-right label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-left input ,
.form-right input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1.2em;
}

.lg-select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;    
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1.2em;
}