.logout-btn {
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease, transform 0.2s;
    padding: 8px 15px;
    border-radius: 8px;
}

.logout-btn svg {
    margin-right: 5px;
}

.logout-btn:hover {
    color: #ff6961;
    transform: scale(1.05);
}