.register-form {
    width: 480px;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 5px;
        font-weight: 600;
    }

    input {
        width: 100%;
        height: 45px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        font-size: 1em;
    }

    button {
        width: 100%;
        height: 45px;
        margin-top: 1em;
        background-color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 40px;
        font-weight: 700;
        font-size: 1em;
        transition: background-color 0.3s, color 0.3s;
    }
}

.register-form button:hover {
    background-color: var(--main-bg-color);
    color: white;
}

.login-link {
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}

.form-navigation {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: 20px;
}

.form-navigation button {
    width: 50%;
    margin-right: 1em;
    height: 45px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.form-navigation .back-btn {
    background-color: #ddd;
    color: var(--secondary-bg-color);
}

.form-navigation .back-btn:hover {
    background-color: #bbb;
}

.form-navigation .next-btn {
    background-color: var(--secondary-bg-color);
    color: snow;
    
}

.form-navigation .next-btn:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
}

.form-navigation .register-btn {
    background-color: var(--secondary-bg-color);
    color: snow;
}

.form-navigation .register-btn:hover {
    transform: scale(1.05);
}