* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #212121;
    --secondary-bg-color: #523d68;
    --main-color: snow;
    --second-color: rgba(255, 255, 255, 0.2);
}

[data-theme="light"] {
    --main-bg-color: white;
    --main-color: #000;
    --second-color: rgba(47, 44, 44, 0.4);
}

body {
    font-family: "Poppins", sans-serif;
    color: snow;
    background: var(--main-bg-color);
}

ul {
    li {
        list-style: none;
    }
}