*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #212121;
    --secondary-bg-color: #452c63;
    --main-linear-gradient: linear-gradient(to left, #5a416b, #8241b8);
}

body{
    font-family: "Poppins", sans-serif;
    color: snow;
    background: var(--main-bg-color);
}
ul {
    li {
        list-style: none;
    }
}