.ReactFlagsSelect-module_flagsSelect__2pfa2{
    background-color: snow;
    border-radius: 8px;
    width: 12em;
    button{
        border: none;
        span{
            color: var(--secondary-bg-color);
            font-weight: bold;
            font-size: 1.1em;
        }
    }
    ul{
        li{
            width: 100%;
        }
    }
}
.ReactFlagsSelect-module_label__27pw9{
    color: black;
}
