.ReactFlagsSelect-module_flagsSelect__2pfa2{
    background-color: snow;
    border-radius: 8px;
    width: 12em;
    button{
        border: none;
    }
}
.ReactFlagsSelect-module_label__27pw9{
    color: black;
}
